@import "./vendors/bulma/sass/utilities/initial-variables";
@import "./vendors/bulma/sass/utilities/functions";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap');

$blue: #72d0eb;
$menu-item-hover-background-color: $blue;

@import './vendors/bulma/bulma.sass';
@import './vendors/fontawesome/css/font-awesome.min.css';
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'EB Garamond', serif;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

body {
  width: 100%;
  min-height: 100vh;
  background: #FFFFC2;
  overflow-x: hidden;
  width: 100%;
}

a {
  color: inherit;
}

.brand-red {
  color: #C04000
}

.brand-yellow {
 color: #C7A317
}

.dropdown-menu {
  min-width: 0px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }
}