---
import HomeLayout from '../../layouts/HomeLayout.astro';
import MetaSEO from '../../components/MetaSEO.astro';
import Contact from '../../components/Contact.astro';
import ContactForm from '../../components/ContactForm.vue';
import NavBar from '../../components/NavBar.astro';
import SideBar from '../../components/SideBar.astro';
import Footer from '../../components/Footer.astro';
---

<HomeLayout>
<title slot="headerInfo">Bienvenue</title>
    <NavBar slot="NavBar" lang="fr" location="contact"/>
    <MetaSEO slot="MetaSEO" lang="fr" location="contact"/>
    <SideBar slot="SideBar" lang="fr" location="contact"/>        
    <Contact slot="Main" lang="fr"/>
    <ContactForm slot="Main" lang="fr" client:visible/>
    <Footer slot="Footer" lang="fr"/>   

</HomeLayout>
