---
import HomeLayout from '../../layouts/HomeLayout.astro';
import MetaSEO from '../../components/MetaSEO.astro';
import Home from '../../components/Home.astro';
import NavBar from '../../components/NavBar.astro';
import SideBar from '../../components/SideBar.astro';
import Footer from '../../components/Footer.astro';
---

<HomeLayout>
<title slot="headerInfo">Bienvenue</title>
    <NavBar slot="NavBar" lang="fr" location="home"/>
    <MetaSEO slot="MetaSEO" lang="fr" location="home"/>
    <SideBar slot="SideBar" lang="fr" location="home"/>        
    <Home slot="Main" lang="fr"/>
    <Footer slot="Footer" lang="fr"/>   

</HomeLayout>
