---
import HomeLayout from '../../layouts/HomeLayout.astro';
import Lessons from '../../components/Lessons.astro';
import NavBar from '../../components/NavBar.astro';
import SideBar from '../../components/SideBar.astro';
import Footer from '../../components/Footer.astro';
---

<HomeLayout>
<title slot="headerInfo">Welcome</title>
    <NavBar slot="NavBar" lang="fr" location="lessons"/>
    <SideBar slot="SideBar" lang="fr" location="lessons"/>        
    <Lessons slot="Main" lang="fr"/>
    <Footer slot="Footer" lang="fr"/>   

</HomeLayout>
