---
import HomeLayout from '../layouts/HomeLayout.astro';
import MetaSEO from '../components/MetaSEO.astro';
import NavBar from '../components/NavBar.astro';
import SideBar from '../components/SideBar.astro';
import Footer from '../components/Footer.astro';
---

<HomeLayout>
    <NavBar slot="NavBar" lang="en" location="home"/>
    <MetaSEO slot="MetaSEO" lang="en" location="about"/>
    <SideBar slot="SideBar" lang="en"/>
    <div slot="Main"><p>Error: 404... this page dosen't exist.</p></div>
    <Footer slot="Footer" lang="en"/>   
</HomeLayout>
