---
import LegalLayout from '../layouts/LegalLayout.astro';
import Imprint from '../components/Imprint.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
---

<LegalLayout>
<title slot="headerInfo">Terms and Conditions</title>
    <NavBar slot="NavBar" lang="en" location="tc"/> 
    <Imprint slot="Main" lang="en" location="tc"/>
    <Footer slot="Footer" lang="en"/>   

</LegalLayout>
