---
import HomeLayout from '../layouts/HomeLayout.astro';
import Translation from '../components/Translation.astro';
import NavBar from '../components/NavBar.astro';
import SideBar from '../components/SideBar.astro';
import Footer from '../components/Footer.astro';
---

<HomeLayout>
<title slot="headerInfo">Welcome</title>
    <NavBar slot="NavBar" lang="en" location="translation"/>
    <SideBar slot="SideBar" lang="en" location="translation"/>        
    <Translation slot="Main" lang="en"/>
    <Footer slot="Footer" lang="en"/>   

</HomeLayout>
