---
const {lang} = Astro.props
const translatedContent = {
    en : {
            title       : 'Book a Consultation', 
            body        : ["Would you prefer to speak with me in person?",
                          "Reserve a free 15-minute initial consultation, or contact me directly if you do not find a suitable appointment time.",]
            },
    de : {
            title       : 'Beratung Buchen', 
            body        : ["Möchten Sie lieber persönlich mit mir sprechen?",
                        "Reservieren Sie ein kostenloses, 15-minütiges Erstgespräch, oder kontaktieren Sie mich direkt, wenn Sie keinen passenden Termin finden.",]
            },
    fr : {
            title       : "Réserver une consultation", 
            body        : ["Préféreriez-vous parler avec moi en personne ?",
                          "Réservez une consultation initiale gratuite de 15 minutes, ou contactez-moi directement si vous ne trouvez pas de rendez-vous convenable."]
            },
    }


let currentLanguage = translatedContent[lang]

---
<div class="content">
<h2 class="is-size-4 mb-5">{currentLanguage.title}</h2>
{currentLanguage.body.map(el => (
        <p>{el}</p>
))}
</div>
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/theenglishnook-ch/initial_consultation?background_color=ffffc2&primary_color=c04000"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->