<div class="content">
<img class="feather active mb-5 mt-1"src="/favicon.svg">
<div class="is-size-7 mt-1">
<p><strong><span class="brand-red">Engli</span><span class="brand-yellow">sh </span> <span class="brand-red">Nook</span></strong> /<span class="brand-red">ˈɪŋɡl(ɪ)</span><span class="brand-yellow">ʃ</span><span class="brand-red">nʊk</span>/ <i>n</i> [<i>ingle</i> + <i>shh</i> + <i>nook</i>] <strong>1</strong>: a quiet, cosy corner dedicated to English lessons and translation <strong>2 </strong><i>gen</i> : a place to learn or study English with the support of a caring teacher</p>
</div>
</div>