---
import router from '../data/router.json';

const {lang, location} = Astro.props

const navBar = Object.keys(router).filter(fil => fil == "imprint" || fil == "tc" || fil == "privacy")
---

<div class="columns is-centered">
{navBar.map(el => (
    <div class="column is-3 has-text-centered"> <a href={router[el][lang].route}>{router[el][lang].name}</a></div>
))}
</div>