---
import router from '../data/router.json';

const {lang,location} = Astro.props
let allLang = router[location]
---
<div class="langswitcher columns mb-5 is-flex-direction-row-reverse">
<div class="column is-1-tablet is-2-desktop is-3-widescreen is-hidden-mobile"></div>
<div class="column pt-5 is-3 has-text-right mr-3">
      {Object.keys(allLang).map((el,idx) => (
         <span><a href={allLang[el].route}>{el == lang ? <span class="brand-red p-1"><b>{allLang[el].link}</b></span> : <span class="brand-black p-1">{allLang[el].link}</span>}</a>{idx == 2 ? "" :" | "}</span>
          ))}
</div>
</div>  
<div class="columns mt-3 mb-0 is-hidden-mobile">
  <div class="column is-narrow ml-6">
  <a class="" href="/">
      <img src="/assets/images/theEnglishNook.ch-logo-low-rez.png" srcset="/assets/images/theEnglishNook.ch-logo-retina.png 2x" alt="The English Nook logo">
    </a>
  </div>
  <div class="column is-5 mt-1">
    <h1 class="brand-red is-size-2">The Engli<span class="brand-yellow">sh</span> Nook</h1>
    <p>/<span class="brand-red">ˈɪŋɡl(ɪ)</span><span class="brand-yellow">ʃ</span><span class="brand-red">nʊk</span>/</p>
  </div>
</div>

<div class="columns is-hidden-tablet has-text-centered">
  <div class="column is-1 pb-0">
  <a class="" href="/">
      <img width="80" src="/assets/images/theEnglishNook.ch-logo-low-rez.png" srcset="/assets/images/theEnglishNook.ch-logo-retina.png 2x" alt="The English Nook logo">
    </a>
  </div>
  <div class="column is-5 pb-0 pt-0">
    <h1 class="brand-red is-size-2">The Engli<span class="brand-yellow">sh</span> Nook</h1>
    <p class="brand-red">/ˈɪŋɡl(ɪ)<span class="brand-yellow">ʃ</span>nʊk/</p>
  </div>
</div>
