---
import router from '../data/router.json';

const {lang, location} = Astro.props
const sideBar = Object.keys(router).filter(fil => fil != "imprint" && fil != "tc" && fil != "privacy" && fil != "consultation")
---

<aside class="menu">
  <ul class="menu-list">
    {sideBar.map(el => (
      el == location ? <li class="sideBar"><img class="feather active"src="/favicon.svg" alt="The English Nook Feather"><a class="is-active ml-1" href={router[el][lang].route}>{router[el][lang].name}</a></li> : <li class="sidebar"><img class="feather inactive"src="/favicon.svg" alt="The English Nook Feather"><a class="ml-1" href={router[el][lang].route}>{router[el][lang].name}</a></li>
    ))}
  </ul>
</aside>
