---
const {lang} = Astro.props
const translatedContent = {
    en : {
            title   : 'Translation & Proofreading', 
            subtitle: 'French/German into English',
            body    : "Having been working as a volunteer translator since 2016 for the <i>Wiener Holocaust Library</i>, one of the largest archives dedicated to the Second World War, I have years of experience translating texts ranging from official reports and research studies to eyewitness accounts and wartime memoirs. Regardless of the material in question, my approach reflects not only the great value I place on producing finely-tuned, research-based work but also my analytical and methodical nature evincing precision, diligence and a keen awareness of nuance and subtlety. Should your query concern translation, proofreading or any work related to these fields, please do not hesitate to contact me <a href='/contact'>here</a> or at <span class='brand-red'>info@theenglishnook.ch</span>. It would be my pleasure to discuss whatever projects you may have.",
            },
    de : {
            title   : 'Übersetzung & Korrekturlesen', 
            subtitle: 'Französisch/Deutsch ins Englische',
            body    : "Als freiwillige Übersetzerin, die seit 2016 für die <i>Wiener Holocaust Library</i>, eines der größten Archive zum Zweiten Weltkrieg, tätig ist, habe ich langjährige Erfahrung in der Übersetzung von Texten, die von offiziellen Berichten und Forschungsstudien bis hin zu Augenzeugenberichten und Kriegsmemoiren reichen. Unabhängig davon, um welches Material es sich handelt, widerspiegelt meine Arbeitsweise nicht nur den großen Wert, den ich auf die Erstellung ausgefeilter, forschungsbasierter Arbeiten lege, sondern auch meinen analytischen und methodischen Charakter, der von Genauigkeit, Sorgfalt und einem geschärften Bewusstsein für Nuancen und Feinheiten zeugt. Wenn Ihre Anfrage eine Übersetzung, ein Korrekturlesen oder irgendeine Arbeit in diesen Bereichen betrifft, zögern Sie bitte nicht, mich <a href='/de/kontakt'>hier</a> oder unter <span class='brand-red'>info@theenglishnook.ch</span> zu kontaktieren. Es wäre mir ein Vergnügen, jegliche Projekte, die Sie haben, zu besprechen.",
            },
    fr : {
            title   : 'Traduction et relecture', 
            subtitle: "Le français/L'allemand vers l'anglais",
            body    : "Travaillant depuis 2016 en tant que traductrice bénévole pour la <i>Wiener Holocaust Library</i>, l'une des plus grandes archives consacrées à la Seconde Guerre mondiale, j'ai des années d'expérience dans la traduction de textes allant des rapports officiels et des études de recherche aux témoignages oculaires et aux mémoires de guerre. Quel que soit la matière en question, mon approche reflète non seulement la grande importance que j'accorde à la production d'un travail peaufiné et fondé sur la recherche, mais aussi ma nature analytique et méthodique qui fait preuve de précision, de diligence et d'une conscience aiguë des nuances et des subtilités. Si votre demande concerne la traduction, la relecture ou tout autre travail lié à ces domaines, n'hésitez pas à me contacter <a href='/fr/contact'>ici</a> ou à <span class='brand-red'>info@theenglishnook.ch</span>. Je discuterais avec plaisir de vos projets, quels qu'ils soient.",
            },
    }


let currentLanguage = translatedContent[lang]

---
<div class="content">
<h2 class="is-size-4 mb-0">{currentLanguage.title}</h2>
<h3 class="is-size-5 mb-5 mt-0">{currentLanguage.subtitle}</h3>
<p>{currentLanguage.body}</p>
</div>