---
import HomeLayout from '../../layouts/HomeLayout.astro';
import MetaSEO from '../../components/MetaSEO.astro';
import Home from '../../components/Home.astro';
import NavBar from '../../components/NavBar.astro';
import SideBar from '../../components/SideBar.astro';
import Footer from '../../components/Footer.astro';
---

<HomeLayout>
<title slot="headerInfo">Willkommen</title>
    <NavBar slot="NavBar" lang="de" location="home"/>
    <MetaSEO slot="MetaSEO" lang="de" location="home"/>
    <SideBar slot="SideBar" lang="de" location="home"/>        
    <Home slot="Main" lang="de"/>
    <Footer slot="Footer" lang="de"/>   
</HomeLayout>
