---
import HomeLayout from '../../layouts/HomeLayout.astro';
import Translation from '../../components/Translation.astro';
import NavBar from '../../components/NavBar.astro';
import SideBar from '../../components/SideBar.astro';
import Footer from '../../components/Footer.astro';
---

<HomeLayout>
<title slot="headerInfo">Welcome</title>
    <NavBar slot="NavBar" lang="de" location="translation"/>
    <SideBar slot="SideBar" lang="de" location="translation"/>        
    <Translation slot="Main" lang="de"/>
    <Footer slot="Footer" lang="de"/>   

</HomeLayout>
