---
// Component Imports
import Definition from '../components/Definition.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<slot name="headerInfo" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">

</head>
<body>
    <main>
        <slot name="NavBar" />
            <div class="columns mt-1 pl-5">
                <!-- <div class="column is-1"></div> -->
                <div class="column is-2 mt-0 ml-6">
                    <slot name="SideBar" />
                </div>
                <div class="column is-1"></div>
                <div class="column is-5 ml-1 mt-2 has-text-centered">
                    <slot name="Main" />
            </div>
              <div class="column is-3"></div>
        <!--<Definition/>-->
            </div>
            <slot name="Footer" />

    </main>
</body>
</html>
