---
// Component Imports
import Definition from '../components/Definition.astro';
import Favicon from '../components/Favicon.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <Favicon />
    <slot name="MetaSEO" />
    <link rel="stylesheet" href="/style/global.css">

</head>
<body>
    <main>
        <slot name="NavBar" />
            <div class="columns mt-1">
                <div class="column mobile-sidebar is-3 mt-0 is-hidden-tablet has-text-centered">
                    <slot name="SideBar" />
                </div>
                <div class="column is-3 ml-6 pl-6 is-hidden-mobile">
                    <slot name="SideBar" />
                </div>
                <!-- <div class="column is-1"></div> -->
                <div class="column is-6 ml-5 mt-2 mr-5 mb-5 has-text-centered">
                    <slot name="Main" />
                    <div class="mt-6 mb-6"></div>
                    <Definition/>
            </div>
              <div class="column is-6 is-flex-desktop"></div>
            </div>
            <div class="mt-6 mb-4">
            <slot name="Footer" />
            </div>

    </main>
</body>
</html>
