---
// Component Imports
import Definition from '../components/Definition.astro';
import Favicon from '../components/Favicon.astro';
import CookieBanner from '../components/CookieBanner.vue';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <Favicon />
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="/style/global.css">

</head>
<body>
    <header>
    </header>
    <main>
        <slot name="NavBar" />
            <div class="columns is-centered">
                <div class="column is-three-quarters ml-3 mr-3">
                    <slot name="Main" />
                </div> 
            </div>
            <slot name="Footer" />
            <CookieBanner client:idle/>   
        

        <!--
           - You can also use imported framework components directly in your markup!
           -
           - Note: by default, these components are NOT interactive on the client.
           - The `:visible` directive tells Astro to make it interactive.
           -
           - See https://docs.astro.build/core-concepts/component-hydration/ 
           -->

    </main>
</body>
</html>
